
$background_fondo_caja_padre: rgb(34, 139, 236);
$background_fondo_caja_hija: rgb(255, 255, 255);


$background_inicio: rgb(255, 0, 0);
$background_mitad: rgb(0, 255, 0);
$background_fin: rgb(0, 0, 255);